@page "/"
@using UserSurvey_BlazorServer.Data
@using static UserSurvey_BlazorServer.Data.SurveyEnums


<EditForm Model="@surveydata" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Gender:
            <InputSelect @bind-Value="surveydata.Sex">
                <option value="">Select Sex...</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </InputSelect>
        </label>
    </p>
    <p>
        <label>
            Age Group:
            <InputSelect @bind-Value="surveydata.AgeGroup">
                <option value="">Select your age group...</option>
                <option value="18">Under 18</option>
                <option value="18-24">18-24</option>
                <option value="25-34">25-34</option>
                <option value="35+">Over 35</option>
            </InputSelect>
        </label>
    </p>

    <p>
        <InputRadioGroup @bind-Value="surveydata.SciFi">
            Select your favourite Sci-Fi show:
            <br>
            @foreach (var scifi in (SciFi[])Enum.GetValues(typeof(SciFi)))
            {
                <InputRadio Value="scifi" />
                <text>&nbsp;</text>@EnumExtensionMethods.GetDescription(scifi)<br>
            }
        </InputRadioGroup>
    </p>

    <p>
        <br />
        <button type="reset">Clear</button>
        <button type="submit">Submit</button>
    </p>
</EditForm>

@code {
    private SurveyData surveydata = new SurveyData();

    private void HandleValidSubmit()
    {

        // Process the valid form
    }
}